:root{
    --app-brand-main: #46a949;
    --app-white: #ffffff;
    --app-black: #4a4a4a;
    --app-gradient-1: #3bb78f;
    --app-gradient-2: #0bab64 ;
}
body{
    font-family: 'Work Sans', sans-serif!important;
}
main.main-container{
    width: 100%;
    height: auto;
    background-color: var(--app-white);
}

/* initial page */
.wrapper-gr{
    height: 100vh!important;
    color: var(--app-white)!important;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
}
.wrapper-gr>.country_select-container{
    width: 50%;
    padding: 40px 20px 20px 20px;
}
/* .wrapper-gr>header.dt-header{
    margin-bottom: 40px;
} */
.wrapper-gr>header.dge-header>.brand{
    width: 150px;
}
.wrapper-gr .dge-map > img{
    width: 50%;
    margin: 0 auto;
}